<launch>

  <include file="$(find simulation_world)/launch/gazebo_rviz.launch">
    <arg name="launch_rviz" value="false"/>
    <arg name="world_name" value="Cube_2"/>
  </include>

  <!-- Arguments -->

  <arg name="open_rviz"  default="true"/>
  <arg name="localization" default="true"/>
  <arg name="database_path" default="~/.ros/rtabmap.db"/>
  <arg     if="$(arg localization)" name="rtabmap_args" default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>
  <arg name="camera" default="realsense"/>
  <arg name="frame_id" default="base_footprint"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="rtabmap_args" value="--delete_db_on_start"/>
    <arg name="camera_info_topic" value="/$(arg camera)/color/camera_info"/>
    <arg name="depth_camera_info_topic" value="/$(arg camera)/depth/camera_info"/>
    <arg name="rgb_topic" value="/$(arg camera)/color/image_raw"/>
    <arg name="depth_topic" value="/$(arg camera)/depth/image_rect_raw"/>
    <!-- <arg name="odom_topic" value="/$(arg camera)/imu"/> -->
    <arg name="rviz" value="true"/>
    <arg name="rtabmap_viz" value="false"/>
    <arg name="approx_sync_max_interval" value="0.02"/> <!-- To remove estimations based on rgb and depth shifted in time -->
    <!-- <param name="cloud_noise_filtering_radius" value="0.05"/>
    <param name="cloud_noise_filtering_min_neighbors" value="2"/>
    <param name="proj_max_ground_angle" value="45"/>
    <param name="proj_max_ground_height" value="0.1"/>
    <param name="proj_max_height" value="2.0"/>
    <param name="proj_min_cluster_size" value="20"/>
    <param name="grid_cell_size" value="20"/> -->
  </include>
     
</launch>

